.example-card {
  width: 300px;
  margin-left: 2%;
  margin-bottom: 2%;
}
.mat-card-image { 
  width: calc(73% + 32px);
  height: 200px;
  padding: inherit;
  margin-left: 3%;
}

.mat-card-title {
  font-size: 10px;
}

.mat-card {
  float: left;
  height: 400px;
}

.mat-card-content p {
  font-size: 10px;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  /* background-size: cover; */
}
