<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Kaveri Book Shop</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="/books"> <b>Catalog</b></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/cart"><b>Cart</b></a>
      </li>
    </ul>
    <span class="navbar-text">
      <strong>Welcome,{{userName}}</strong>      
    </span>
    <!-- <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->
    <span class="material-icons" matBadge={{cartItems}} matBadgeColor="warn">
      shopping_cart
      </span>
  </div>
</nav>